[LOGHANDLER]
json_file_path = service_account.json
sheet_key = XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

[GAMEINFO]
sheet_key = XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
sheet_gid = 1198224769