[APPLICATIONMANAGER]
use_spreadsheet = True

[GAMETIMER]
limit_minutes = 60
json_file_path = state.json

[LOGHANDLER]
json_file_path = ./src/service_account.json
sheet_key = XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX